#navbar {
	padding: 0 2rem 0 2rem;
	background-color: #212125;
	color: #fff;
}

.links {
	margin: 0rem 1rem 0rem 1rem;
	letter-spacing: 0.3rem;
}

.nav-btn {
	padding: 0.6rem;
	letter-spacing: 0.2rem;
}
